main.py
test.py
pasfile.csv
poptest.sh
what.sh
.pasfile.csv
pasfile.csv.gpg
MANUAL.aux
MANUAL.fdb_latexmk
MANUAL.fls
MANUAL.log
MANUAL.synctex.gz
MANUAL.out
doc/MANUAL.toc
doc/MANUAL.4ct
doc/MANUAL.4tc
doc/MANUAL.dvi
doc/MANUAL.idv
doc/MANUAL.lg
doc/MANUAL.tmp
doc/MANUAL.xref
doc/MANUAL.html
doc/MANUAL.css
